github "koher/EasyImagy" ~> 0.5.0
github "SVProgressHUD/SVProgressHUD"

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashBinary.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Answers.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"
